* {
    box-sizing: border-box;
}

hr {
    width: 80%;
}

.bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: center;
}

.bg video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
}

main {
    padding-top: 60%;
    width: 100%;
    height: 220vh;
}

.intro {
    padding-left: 8%;
    margin-right: 55%;
    margin: 0;
}

.projectContainer {
    position: absolute;
    width: 99%;
    height: 50%;
    margin-top: 15vh;
}

.aboutContainer {
    position: absolute;
    width: 99%;
    height: 50%;
    margin-top: -10vh;
}

.habs {
    position: absolute;
    margin-top: 40vh;
    padding-left: 23.5%;
    margin-left: 4%;
}