h1.large {
    font-family: 'Secular One', sans-serif;
    font-size: 70px;
    line-height: 100%;
    color: rgb(18, 18, 34);
    position: absolute;
    top: 45%;
}

h1.medium {
    font-size: 40px;
}

h1.name {
    position: absolute; 
    top: 15%;
}

h1 {
    font-family: 'Secular One', sans-serif;
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
}

h2 {
    font-size: medium;
    padding-right: 4px;
    font-family: 'Quicksand', sans-serif;
    color: rgba(255, 255, 255, .75);
}

h2.menu {
    color: rgb(18, 18, 34);
}

h2.subName {
    position: absolute; 
    top: 41%; 
    letter-spacing: 3px; 
    font-size: 14px;
} 

h3.teaser {
    font-size: 24px;
    line-height: normal;
    position: absolute;
    top: 68%;
    margin-right: 50%;
    font-family: 'Padauk', sans-serif; 
    word-spacing: -7px; 
    color: rgb(94, 93, 93);
}

h5 {
    padding-left: 3px;
    font-family: 'Quicksand', sans-serif; 
    letter-spacing: 3px;
    color: rgb(95, 95, 95);
    font-size: 15px;
    position: absolute;
    top: 46%;
}

ul.emotes li {
    list-style: none;
    display: inline-block;
    align-items: center;
    justify-content: space-around;
    padding-left: 7rem;
}

.js, .css, .html {
    width: 100px;
    height: 100px;
    color: rgb(18, 18, 34);
}