.typingAnimation {
    animation: blinkCursor 500ms infinite normal, typing 4s steps(40) 0s normal both, flash 1s 7s ease normal forwards;
}

@keyframes blinkCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 17em;
    }
}

@keyframes flash {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.name, .subName, .modeIcon {
    animation: changeColor 2s 6s ease-in normal forwards;
}

@keyframes changeColor {
    from {
        color: rgba(255, 255, 255, .75);
    }

    to {
        color: rgb(18, 18, 34);
    }
}

div.smooth {
    animation: byeIntro 1s 2s ease normal forwards;
}

@keyframes byeIntro {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.9;
    }
}

body {
    animation: bright .3s ease normal;
}

@keyframes bright {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

div.introContainer {
    animation: outIntro 2s 6s ease normal forwards;
}

@keyframes outIntro {
    from {
        height: 200vh;
    }

    to {
        height: 0vh;
    }
}