/*BODY*/
*
{
    margin: 0;
    padding: 0 auto;
}
body
{
    background-color: #1b1727;
}
.--primary
{
    color: #160f29;
}
.--secundary
{
    color: #ddbea8;
}

/*HEADER*/
header
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1
{
    color: rgba(221, 221, 221);
    font-family: 'Source Code Pro', monospace;
    font-size: 28px;
}
img
{
    border: 4px solid #ddbea8;
    zoom: 130%;
}
.photo
{
    width: 630px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.photo-pic
{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

/*MAIN*/
main
{

}
h2
{
    font-family: 'Secular One', sans-serif;
    font-size: 38px;
}
.about
{
    background-color: #ddbea8;
    height: 50vh;
}
.skills
{
    height: 30vh;
}
.content
{
    max-width: 735px;
    margin: auto;
}

/*FORMULÁRIO*/
.contact
{
    height: 70vh;
}
#forms
{
    display: flex;
    justify-content: center;
}
.forms
{
    width: 45.5rem;
    color: #ddbea8;
    font-size: 28px;
    font-family: 'Secular One', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
input
{
    height: 30px;
    background-color: #0d0b14;
    border-radius: 10px;
    border-color: #ddbea8;
}
textarea
{
    background-color: #0d0b14;
    border-radius: 20px;
    border-color: #ddbea8;
}
label
{
    margin-top: 20px;
}
button
{
    margin-top: 20px;
    background-color: #ddbea8;
    border-radius: 7px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}
span
{
    padding-left: 5px;
    font-family: 'Secular One', sans-serif;
    font-size: 18px;
    color: #1b1727;
}
.send
{
    color: #1b1727;
    height: 20px;
    width: 20px;
}

/*FOOTER*/
footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    color: #ddbea8;
    background-color: #3a506b;
    font-size: 14px;
    font-family: 'Secular One', sans-serif;
}
.heart
{
    color: red;
}

/*GERAL*/