/*BODY*/
/*border: 1px solid red;*/
* {
    margin: 0;
    padding: 0 auto;
}

.--primary {
    color: #343834;
}

.--secundary {
    color: #f3dea4;
}

/*HEADER*/
header {
    background-color: #faf9f9;
    z-index: 1;
    width: 100%;
    height: 8vh;
    display: flex;
}

h1 {
    color: #2f442d;
    font-family: 'Source Code Pro', monospace;
    font-size: 28px;
}

h1:hover {
    color: #2f442dc0;
}

nav {
    padding-left: 500px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-list-container {
    display: flex;
}

ul.refs {
    width: 300px;
    height: 5vh;
    align-items: center;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

ul.socials {
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 150px;
}

.socials li {
    padding-left: 15px;
}

.social {
    width: 25px;
    height: 25px;
}

li {
    font-size: 20px;
    padding-left: 60px;
}

li:hover {
    opacity: 0.6;
}

/*MAIN*/
h2 {
    color: rgba(221, 221, 221);
    font-family: 'Source Code Pro', monospace;
    font-size: 28px;
}

h3 {
    font-family: 'Secular One', sans-serif;
    font-size: 38px;
    padding-top: 40px;
}

.background {
    width: 100%;
    height: 92vh;
    background-image: url(./images/background.jpg);
    position: absolute;
    z-index: 0;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 92vh;
    width: 100rem;
    z-index: 1;
}

.about {
    height: 80vh;
    background-color: #faf9f9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo {
    width: 270px;
    height: 300px;
    border-radius: 20px;
    border: 5px solid #f3dea4;
}

article {
    max-width: 735px;
    margin: auto;
    font-size: 20px;
}

.art-one {
    max-width: 500px;
    padding-top: 20px;
}

.art-two {

}

.space {
    padding-left: 100px;
    
}

.skills {
    height: 30vh;
    background-color: #727d71;
}

.content {
    max-width: 735px;
    margin: auto;
}

.projects {
    height: 50vh;
}

/*FORMULÁRIO*/
.contact {
    height: 75vh;
    background-color: #727d71;
}

.forms {
    width: 45.5rem;
    color: #f3dea4;
    font-size: 28px;
    font-family: 'Secular One', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    height: 30px;
    border-radius: 10px;
    color: black;
}

textarea {
    border-radius: 15px;
    resize: none;
    color: black;
    font-size: 16px;
}

label {
    margin-top: 20px;
}

button {
    margin-top: 20px;
    background-color: #faf9f9;
    border-radius: 7px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    color: #1b1727;
}

span {
    padding-left: 5px;
    font-family: 'Secular One', sans-serif;
    font-size: 18px;
}

.btn {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.btn-icon-send {
    height: 20px;
    width: 20px;
}

.btn-icon-reset {
    height: 25px;
    width: 25px;
}

/*FOOTER*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    color: #1b1727;
    background-color: #faf9f9;
    font-size: 14px;
    font-family: 'Secular One', sans-serif;
}

.heart {
    color: red;
}

/*GERAL*/

/*
.photo-pic {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    zoom: 130%;
    margin-right: 10px;
}
*/